{% extends "core/base.html" %}
{% block title %}Terms of Use{% endblock %}
{% block content %}
    <div class="container mx-auto mt-10">
        <h1 class="text-3xl font-semibold mb-6">Terms of Use</h1>
        <p class="mb-4">By accessing and using our online marketplace for buying and selling new or used clothes, you agree to comply with the following terms and conditions:</p>
        <ol class="list-decimal ml-6 mb-6">
            <li class="mb-4">You must be at least 18 years old to use our marketplace. If you are under 18, you may only use the platform with the involvement of a parent or guardian.</li>
            <li class="mb-4">You are responsible for maintaining the confidentiality of your account and password and for restricting access to your account. You agree to accept responsibility for all activities that occur under your account or password.</li>
            <li class="mb-4">You agree not to use our marketplace for any unlawful or prohibited purpose, including but not limited to violating any applicable laws, regulations, or guidelines.</li>
            <li class="mb-4">You agree not to engage in any activity that could harm, disrupt, or interfere with the operation of our marketplace, including but not limited to introducing viruses, worms, or other malicious code.</li>
            <li class="mb-4">You agree not to engage in any fraudulent or deceptive practices, including but not limited to misrepresenting the condition or authenticity of items listed on our marketplace.</li>
            <li class="mb-4">You agree not to infringe upon the intellectual property rights of others, including but not limited to copyright, trademark, or patent rights.</li>
        </ol>
        <p class="mb-4">We reserve the right to terminate or suspend your account and access to our marketplace at any time if you violate these terms of use or engage in any prohibited activities.</p>
        <p class="mb-4">These terms of use are subject to change without notice. Please review them periodically for updates. Your continued use of our marketplace after any changes indicates your acceptance of the modified terms.</p>
        <p class="mb-4">If you have any questions or concerns regarding these terms of use, please contact us at <span class="font-semibold">legal@yourmarketplace.com</span>.</p>
        <p class="mb-4">Thank you for using our marketplace responsibly!</p>
    </div>
{% endblock %}
